%h1 О компании
.group
  =image_tag 'company.jpg'
  %p
    Компания «Италика Трейд» работает на российском рынке с 2005 года и является одним из крупнейших поставщиков премиальных сортов чая и кофе для  баров, кафе и вендинга.
  %p
    Свою задачу мы видим в обеспечении российских любителей чая и кофе горячими напитками непревзойденного качества.
  %p
    Наша компания является   представителем старейших итальянских   кофейных  брендов. Также  предлагаем Вам превосходный чай  знаменитой  чешской компании   Oxalis.
