%h1 Доставка
.group
  =image_tag 'dostavka.jpg'
  %p
    Компания «Италика Трейд» оказывает услуги по доставке товаров своим клиентам.
  %p
    Доставка по Санкт-Петербургу осуществляется собственной курьерской службой. При заказе товара на сумму от 10 000 рублей доставка - бесплатно.
  %p
    Компания «Италика Трейд» доставляет товары по всей России. Доставка осуществляется через транспортные компании. «Италика Трейд» постоянно работает со следующими грузоперевозчиками: «ПЭК», «Деловые линии», «Байкал-Сервис», «Желдорэкспедиция». Доставка до указанных транспортных компаний – бесплатная, вне зависимости от  количества товаров и суммы заказа. Стоимость перевозки транспортной компанией оплачивается в соответствии с тарифами грузоперевозчика в вашем регионе.
