%h1 Продажа зеленого зернового кофе оптом
.group

  #green
    %p
      %br
      %b
        в мешках:
      %br
      %span
        от  60 кг
      %br
      %b
        фасованный и молотый:
      %br
      %span
        цены высылаем по запросу на почту
      %br
      %b
        доставка по России:
      %br
      %span
        от 5 кг

    %br
    =image_tag 'green_meshki.jpg'

