%h1 Продажа зеленого зернового кофе оптом
.group
  =image_tag 'green_hud.jpg'
  #green
    %p
      %b
        в мешках:
      %span
        от  60 кг — 150 руб/кг
      %br
      %b
        фасованный и молотый:
      %span
        700 руб/кг

      %br
      %br
      %b
        доставка по России:
      %span
        от 3 кг
      %br
      %b
        доставка по Санкт-Петербург:
      %span
        от 1 кг (курьерская услуга 250 руб)
    =image_tag 'green_meshki.jpg'

