%h1 Настоящий итальянский кофе для вендинга
#products
  %div
    %a.highslide{:href => "assets/pachka_bar.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
      =image_tag 'pachka_bar.jpg', title: 'Увеличить изображение', alt: 'Coffee Extra'
    %p.name Espresso BAR
    %p.price 250 руб/кг
    %table
      %tr
        %td Состав:
        %td 20/80% (арабика, робуста)
      %tr
        %td Обжарка:
        %td средняя
      %tr
        %td Упаковка:
        %td 1000 гр

    #coffee_beans
      %a.highslide{:href => "assets/robusta_01_big.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery02' } )"}
        =image_tag 'robusta_01_small.jpg', title: 'Увеличить изображение', alt: 'Coffee Bar'
  %div
    %a.highslide{:href => "assets/pachka_extra.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
      =image_tag 'pachka_extra.jpg', title: 'Увеличить изображение', alt: 'Coffee Extra'
    %p.name Espresso EXTRA
    %p.price 270 руб/кг
    %table
      %tr
        %td Состав:
        %td 40/60% (арабика, робуста)
      %tr
        %td Обжарка:
        %td темная
      %tr
        %td Упаковка:
        %td 1000 гр

    #coffee_beans
      %a.highslide{:href => "assets/robusta_02_big.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery02' } )"}
        =image_tag 'robusta_02_small.jpg', title: 'Увеличить изображение', alt: 'Coffee Extra'
  %div
    %a.highslide{:href => "assets/pachka_gold.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
      =image_tag 'pachka_gold.jpg', title: 'Увеличить изображение', alt: 'Coffee Gold'
    %p.name Espresso GOLD
    %p.price 350 руб/кг
    %table
      %tr
        %td Состав:
        %td 100% (арабика)
      %tr
        %td Обжарка:
        %td темная
      %tr
        %td Упаковка:
        %td 1000 гр

    #coffee_beans
      %a.highslide{:href => "assets/robusta_03_big.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery02' } )"}
        =image_tag 'robusta_03_small.jpg', title: 'Увеличить изображение', alt: 'Coffee Bar'
