%h1 Продажа аксессуаров и ингридиентов для кофейных автоматов и кофемашин
#shop
  %div
    %h2 Стаканы
    =image_tag 'shop_stakanchiki.jpg', alt: 'стаканчики для вендинга'
  %div
    %h2 Размешиватели(палочки)
    =image_tag 'shop_palochki.jpg', alt: 'палочки размешиватели'
  %div
    %h2 Чай растворимый(фруктовые)
    =image_tag 'shop_rastvoriteli.jpg', alt: 'чай растворимый фруктовый'
  %div
    %h2 Горячий шоколад
    =image_tag 'shop_rastvoriteli.jpg', alt: 'горячий шоколад для вендинговых автоматов'
