%h1 Натуральный листовой чай Oxalis
%p
  продажа чая осуществляется
  %b{style: 'text-decoration: underline'}
    от 5 кг
#tea
  .tea_row
    %div
      %p.name Альпийский Пунш
      %a.highslide{:href => "assets/tea/alpin_punch.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
        =image_tag 'tea/alpin_punch.jpg', title: 'Увеличить изображение', alt: 'Coffee Extra'
      %p.price 700 руб/кг
      %p.sostav
        черный чай, изюм, корица и гвоздика, цветки апельсинового дерева, листья орехового дерева

    %div
      %p.name Erl Gray
      %a.highslide{:href => "assets/tea/erl_gray.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
        =image_tag 'tea/erl_gray.jpg', title: 'Увеличить изображение', alt: 'Coffee Extra'
      %p.price 700 руб/кг
      %p.sostav
        черный чай высшего сорта, бергамот

    %div
      %p.name Гавайский коктейль
      %a.highslide{:href => "assets/tea/hawai.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
        =image_tag 'tea/hawai.jpg', title: 'Увеличить изображение', alt: 'Coffee Extra'
      %p.price 800 руб/кг
      %p.sostav
        черный чай, кусочки, ананаса, папайи, изюма, натуральный аромат цветов бархатцев

    %div
      %p.name Новогодние желания
      %a.highslide{:href => "assets/tea/desires.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
        =image_tag 'tea/desires.jpg', title: 'Увеличить изображение', alt: 'Coffee Extra'
      %p.price 700 руб/кг
      %p.sostav
        черный чай, цедра, апельсина, ваниль, миндаль, гвоздика и кардамон, лепестки цветков роз
  .tea_row
    %div
      %p.name Чай английский завтрак
      %a.highslide{:href => "assets/tea/english.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
        =image_tag 'tea/english.jpg', title: 'Увеличить изображение', alt: 'Coffee Extra'
      %p.price 750 руб/кг
      %p.sostav
        Смесь черного чая с плантаций Цейлона и Ассама

    %div
      %p.name Клубника со сливками
      %a.highslide{:href => "assets/tea/strawberry.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
        =image_tag 'tea/strawberry.jpg', title: 'Увеличить изображение', alt: 'Coffee Extra'
      %p.price 850 руб/кг
      %p.sostav
        черный чай, кусочки ягод земляники и клубники, шоколад, лепестки, ромашки

    %div
      %p.name Карамель в шоколаде
      %a.highslide{:href => "assets/tea/caramel.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
        =image_tag 'tea/caramel.jpg', title: 'Увеличить изображение', alt: 'oxalis tea'
      %p.price 750 руб/кг
      %p.sostav
        черный чай, кокосовая стружка, карамель, натуральный шоколад

    %div
      %p.name Лимонное мороженое
      %a.highslide{:href => "assets/tea/citrus_ice.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
        =image_tag 'tea/citrus_ice.jpg', title: 'Увеличить изображение', alt: 'Coffee Extra'
      %p.price 700 руб/кг
      %p.sostav
        зеленый чай, лимон, лайм, ваниль, сахарные, кристаллы, листья, эвкалипта, цветки подсолнечника
  .tea_row
    %div
      %p.name Жасминовый чай
      %a.highslide{:href => "assets/tea/jasmin_flowers.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
        =image_tag 'tea/jasmin_flowers.jpg', title: 'Увеличить изображение', alt: 'oxalis tea'
      %p.price 800 руб/кг
      %p.sostav
        китайский зеленый чай, жасмин

    %div
      %p.name Рождественский чай
      %a.highslide{:href => "assets/tea/christmas.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
        =image_tag 'tea/christmas.jpg', title: 'Увеличить изображение', alt: 'Coffee Extra'
      %p.price 700 руб/кг
      %p.sostav
        зеленый чай, цедра апельсина, ваниль и миндаль, гвоздика, кардамон, натуральный аромат специй

    %div
      %p.name Ананасовый бриз
      %a.highslide{:href => "assets/tea/pineaple_breeze.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
        =image_tag 'tea/pineaple_breeze.jpg', title: 'Увеличить изображение', alt: 'Coffee Extra'
      %p.price 700 руб/кг
      %p.sostav
        зеленый чай, кусочки ананаса, дыни, лепестки цветков подсолнечника

    %div
      %p.name Кактус минт
      %a.highslide{:href => "assets/tea/cactus_mint.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
        =image_tag 'tea/cactus_mint.jpg', title: 'Увеличить изображение', alt: 'Coffee Extra'
      %p.price 700 руб/кг
      %p.sostav
        зеленый чай, листья, мяты, цветки кактуса
  .tea_row
    %div
      %p.name Дон Жуан
      =image_tag 'tea/no-photo.png'
      %p.price 700 руб/кг
      %p.sostav
        зеленый чай, дамиана, кусочки плода гуараны, имбирь, шоколад, цедра апельсина, цветки, чертополоха и василька

    %div
      %p.name Мохито блюз
      %a.highslide{:href => "assets/tea/ice_lemon.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
        =image_tag 'tea/ice_lemon.jpg', title: 'Увеличить изображение', alt: 'Coffee Extra'
      %p.price 700 руб/кг
      %p.sostav
        зелёный чай, кусочки, лайма и лимона, листья, мяты, кристаллы, сахара, цветки бессмертника, чертополоха и бархатце

    %div
      %p.name Млечный путь
      %a.highslide{:href => "assets/tea/sencha.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
        =image_tag 'tea/sencha.jpg', title: 'Увеличить изображение', alt: 'Coffee Extra'
      %p.price 850 руб/кг
      %p.sostav
        зелёный чай Сенча, натуральный молочный аромат

    %div
      %p.name Дольче вита
      %a.highslide{:href => "assets/tea/Dolce_Vita.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
        =image_tag 'tea/Dolce_Vita.jpg', title: 'Увеличить изображение', alt: 'Coffee Extra'
      %p.price 900 руб/кг
      %p.sostav
        черный чай, кусочки меда, ванили, сахарные звездочки, цветки, персика, вереска и подсолнечника
  .tea_row
    %div
      %p.name Димбула Удувела
      %a.highslide{:href => "assets/tea/Dimbula_Uduwela.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
        =image_tag 'tea/Dimbula_Uduwela.jpg', title: 'Увеличить изображение', alt: 'Coffee Extra'
      %p.price 750 руб/кг
      %p.sostav
        Чай имеет при заваривании легкий красный оттенок. Его собирают на высоте 1400 м над уровнем моря

    %div
      %p.name Сенча Китай
      %a.highslide{:href => "assets/tea/sencha.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
        =image_tag 'tea/sencha.jpg', title: 'Увеличить изображение', alt: 'Coffee Extra'
      %p.price 650 руб/кг
      %p.sostav
        Этот сорт чая Sencha сделан по японской технологии из чайных листьев, выращенных на чайных плантациях Китая. При заваривании имеет цвет меда

    %div
      %p.name Апельсиновая смесь
      %a.highslide{:href => "assets/tea/orange.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
        =image_tag 'tea/orange.jpg', title: 'Увеличить изображение', alt: 'Coffee Extra'
      %p.price 550 руб/кг
      %p.sostav
        красный ройбуш, корица, цветки и цедра апельсин

    %div
      %p.name В саду у бабушки
      %a.highslide{:href => "assets/tea/babushka.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
        =image_tag 'tea/babushka.jpg', title: 'Увеличить изображение', alt: 'Coffee Extra'
      %p.price 950 руб/кг
      %p.sostav
        гибискус, яблоко, бузина, черноплодная рябина, кусочки корня свеклы, ежевика, земляника, листья кустарника черной смородины, малина, красная смородина
