%h1 Tea
#tea
  .tea_row
    %div
      %p.name Альпийский Пунш
      %a.highslide{:href => "assets/tea/alpin_punch.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
        =image_tag 'tea/alpin_punch.jpg', title: 'Увеличить изображение', alt: 'Coffee Extra'
      %p.price 700 руб/кг
      %p.sostav
        черный чай, изюм, корица и гвоздика, цветки апельсинового дерева, листья орехового дерева

    %div
      %p.name Erl Gray
      %a.highslide{:href => "assets/tea/erl_gray.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
        =image_tag 'tea/erl_gray.jpg', title: 'Увеличить изображение', alt: 'Coffee Extra'
      %p.price 720 руб/кг
      %p.sostav
        черный чай высшего сорта, бергамот
    %div
      %p.name Гавайский коктейль
      %a.highslide{:href => "assets/tea/hawai.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
        =image_tag 'tea/hawai.jpg', title: 'Увеличить изображение', alt: 'Coffee Extra'
      %p.price 800 руб/кг
      %p.sostav
        черный чай, кусочки, ананаса, папайи, изюма, натуральный аромат цветов бархатцев

    %div
      %p.name Тайные желания
      %a.highslide{:href => "assets/tea/secret.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
        =image_tag 'tea/secret.jpg', title: 'Увеличить изображение', alt: 'Coffee Extra'
      %p.price 800 руб/кг
      %p.sostav
        черный чай, цедра, апельсина, ваниль, миндаль, гвоздика и кардамон, лепестки цветков роз

  .tea_row
    %div
      %p.name Альпийский Пунш
      %a.highslide{:href => "assets/tea/alpin_punch.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
        =image_tag 'tea/alpin_punch.jpg', title: 'Увеличить изображение', alt: 'Coffee Extra'
      %p.price 700 руб/кг
      %p.sostav

    %div
      %p.name Erl Gray
      %a.highslide{:href => "assets/tea/erl_gray.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
        =image_tag 'tea/erl_gray.jpg', title: 'Увеличить изображение', alt: 'Coffee Extra'
      %p.price 720 руб/кг
      %p.sostav

    %div
      %p.name Гавайский коктейль
      %a.highslide{:href => "assets/tea/hawai.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
        =image_tag 'tea/hawai.jpg', title: 'Увеличить изображение', alt: 'Coffee Extra'
      %p.price 800 руб/кг

    %div
      %p.name Тайные желания
      %a.highslide{:href => "assets/tea/secret.jpg", :onclick => "return hs.expand(this, { slideshowGroup: 'gallery01' } )"}
        =image_tag 'tea/secret.jpg', title: 'Увеличить изображение', alt: 'Coffee Extra'
      %p.price 800 руб/кг
      %p.sostav
