#footer
  %div
    %a{:href => "mailto:info@coffeeitalika.ru", :target => "_top"}
      info@coffeeitalika.ru
    %br
    %p Информация размещенная на данном на сайте не является публичной офертой.
  %p
    194100, Санкт-Петербург
    %br ул. А. Матросова д. 4, кор. 2
    +7 904 559 99 55
